{%extends 'base.html'%}

{% block content %}

    <div class="card" style="width: 18rem;">
        <img src="{{card.image}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{card.name}}</h5>
        <p class="card-text">{{card.price}}</p>
        <p class="card-text">{{card.description}}</p>
        <form method="post" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add to Cart</button>
        </form>
        </div>
    </div>
    
{% endblock %}