{%extends 'base.html'%}

{% block content %}
<div class="row">
    {% for shop in shop %}
        <a href="{% url 'details' shop.pk %}" style="text-decoration: none; color: inherit;">
            <div class="card" style="width: 18rem; cursor: pointer;" href="{% url 'details' shop.pk %}">
                <img src="{{ shop.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ shop.name }}</h5>
                    <p class="card-text">{{ shop.price }}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </a>
    {%endfor%}
</div>
{% endblock %}